$black: #000000;
$white: #ffffff;
$buttonBackground: #303030;
$cardBorder: #5a6969;
$cardBackground: #2d3a3b;
$green1: #097e05;
$green2: #03550a;
$red1: #b40505;
$red2: #570202;
$blue1: #0e2c8f;
$blue2: #025f69;
$blue3: #2acbe0;
$blue4: #24afc2;
