body {
  background-color: #000000;
  height: "100vh";
  min-height: "100vh";
  font-weight: 400;
  font-family: "Ubuntu";
}

.pageLayout {
  @include flexCenter;
  align-items: center;
  flex-direction: column;
}

.formCard {
  @include flexCenter;
  @include cardBorderBackground;
  margin: 0.5rem 0.5rem 0.5rem;
  align-items: center;
  width: 34rem;
  flex-direction: column;
}

form {
  padding: 1rem 1rem 0rem;
}

.formSubmit {
  @include defaultBorderBackground;
  @include defaultInput;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
  &:hover {
    background-color: $green1;
    border-color: $green2;
  }
}

.formTextInput {
  @include defaultBorderBackground;
  @include defaultInput;
  height: 1.9rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 15rem;
}

.formLabel {
  padding-top: 0.5rem;
  color: $white;
  font-size: 1.25rem;
}

.formRow {
  @include flexSpace;
  padding-bottom: 1rem;
  width: 30rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  @include defaultBorderBackground;
  @include defaultInput;
  cursor: pointer;
  padding: 0.5rem;
  &:hover {
    background-color: $blue4;
    color: $black;
  }
}

.itemTitle {
  @include flexSpace;
  margin-bottom: 0.5rem;
}

.itemInfo {
  @include cardBorderBackground;
  @include flexCol;
  width: 30rem;
  padding: 0.5rem;
  color: $white;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.itemText {
  font-size: 1rem;
  padding-top: 0.5rem;
  font-style: italic;
}

.textArea {
  @include flexCol;
}

.formTextAreaInput {
  @include defaultBorderBackground;
  @include defaultInput;
  height: 10rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 15rem;
}

.textAreaInfo {
  @include defaultInput;
  padding-top: 0.5rem;
  padding-right: 0.25rem;
  text-align: end;
}
